@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

:root {
  --color-purple: #5e50a1;
  --color-yellow: #fbb017;
  --color-black: #1f2a36;
  --color-darkgray: #46505c;
  --color-gray: #9ea0a5;
  --color-lightgray: #e2e5ed;
  --color-background: #f6f7f8;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

.main {
  padding-top: 70px;
  padding-bottom: 0;
}

.fs-7 {
  font-size: 0.875rem;
}
.fs-8 {
  font-size: 0.75rem;
}
.fw-semibold {
  font-weight: 600;
}
.bg-background {
  background-color: var(--color-background);
}

.navbar_notif-dropdown {
  width: 200px;
  height: 250px;
  background-color: white;
  position: relative;
  border-radius: 8px;
}
.navbar_notif-dropdown::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translate(-50%, -100%);
  width: 0;
  height: 0;
  border-right: 13px solid transparent;
  border-bottom: 20px solid white;
  border-left: 13px solid transparent;
}
.navbar_profile-dropdown {
  width: 160px;
  background-color: white;
  position: relative;
  border-radius: 8px;
}
.navbar_profile-dropdown::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0px;
  transform: translate(-50%, -100%);
  width: 0;
  height: 0;
  border-bottom: 20px solid white;
  border-left: 20px solid transparent;
}

.landing_mailist {
  background-image: url("../public/image/wave.png");
  background-position: bottom;
  border-radius: 40px 0;
}

.home_main {
  min-height: 90vh;
}

@media (min-width: 768px) {
  .home_main {
    min-height: 100vh;
  }
}

@media (max-width: 576px) {
  .main {
    padding-top: 0;
    padding-bottom: 120px;
  }
}
